@model String

@{
    ViewBag.Title = "AddQuest";
}

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading"><h2>Добавление квеста</h2></div>
        <div class="panel-body">
            @using (Html.BeginForm("AddQuest", "Designer", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(m => m.Code)

                <div class="form-group">
                    <label class="col-sm-2 control-label">@Html.DisplayNameFor(n => n.Email)</label>
                    @Html.TextBoxFor(t => t.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(v => v.Email)
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">@Html.DisplayNameFor(n => n.Password)</label>
                    @Html.TextBoxFor(t => t.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(v => v.Password)
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">@Html.DisplayNameFor(n => n.ConfirmPassword)</label>
                    @Html.TextBoxFor(t => t.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(v => v.ConfirmPassword)
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">@Html.DisplayNameFor(n => n.Phone)</label>
                    @Html.TextBoxFor(t => t.Phone, new { @class = "form-control" })
                    @Html.ValidationMessageFor(v => v.Phone)
                </div>
                <div class="col-sm-4">
                    <div class="pull-right">
                        <div class="btn-group">
                            <input type="submit" class="btn btn-primary" value="Зарегистрировать" />
                            @Html.ActionLink("Отменить", "Index", "Merchant", new { @class = "btn btn-default" })
                        </div>
                    </div>
                </div>}
        </div>
    </div>
</div>

